body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    max-width: 500px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.detail {
    margin-bottom: 15px;
}

.detail strong {
    color: #555;
}

.detail span {
    color: #000;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Accept :hover {
    background-color: #45a049;
}
.Reject :hover {
    background-color: #bf2828;
}