<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='~/css/LoginStyle.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Employee Management</p>
        </div>
    </nav>
                <p class="quote">
                    "Success is not the result of luck; it’s the result of consistently applying effort,passion, and a positive mindset in everything you do."
                </p>
     <div class="Content">
            <div class="form-box">
                @RenderBody()
            </div>
    </div>
</div>   
</body>
</html>