@using System.Security.Claims;
@using Repository.Interfaces
@inject IReportRepository ReportRepo
@inject IJobRepository JobRepo

<div class="analytics-card" id="analytics-card">
    <div class="analytics-head">
        <h3>Generated Reports Percentage</h3>
        <span class="las la-ellipsis-h"></span>
    </div>

    <div class="analytics-chart">
        <div class="chart-circle" style=" --percentage: @ReportRepo.PercentageOfReportsGenerated(User.Claims.First(e => e.Type == ClaimTypes.NameIdentifier).Value);">
            <div class="chart-text">
                <h1>@ReportRepo.PercentageOfReportsGenerated(User.Claims.First(e => e.Type == ClaimTypes.NameIdentifier).Value)%</h1>
            </div>
        </div>

        <div class="analytics-note">
            <small>
                Note: You Generate This Percentage of Reports
            </small>
        </div>
    </div>
    <div class="analytics-btn">
        <form method="get">
            <button asp-action="AddReport" asp-controller="AdminDashboard">GENERATE REPORT</button>
        </form>
    </div>
</div>